@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(to bottom, #ffce6a 0%, #210f7a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  min-width: 100vw;
  min-height: 100vh;
}
