@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(to bottom, #ffce6a 0%, #210f7a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  min-width: 100vw;
  min-height: 100vh;
}

/* carousel.css */
.swiper-pagination-bullet {
  background-color: #ccc; /* Inactive dot color */
  width: 12px;
  height: 12px;
  opacity: 1; /* Ensure the dots are always visible */
  margin: 0 4px; /* Adjust the spacing between dots */
  border-radius: 50%; /* Make dots circular */
}

.swiper-pagination-bullet-active {
  background-color: #fff; /* Active dot color */
  width: 12px;
  height: 12px;
}
